{{- with .Values.mutatingWebhookConfiguration.certificates.static -}}
{{- $name := (include "sidecar-injector.name" $) }}
{{- $namespace := (include "kyverno.lib.namespace" $) }}
{{- $component := "sidecar-injector" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  namespace: {{ $namespace }}
  labels:
    {{- include "kyverno.lib.labels.merge" (list
      (include "kyverno.lib.labels.common" $)
      (include "kyverno.lib.labels.common.selector" $)
      (include "kyverno.lib.labels.component" $component)
    ) | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ .crt | b64enc }}
  tls.key: {{ .key | b64enc }}
{{- end }}
