# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: KO publish

permissions: {}

on:
  push:
    branches:
      - main

jobs:
  ko-publish:
    permissions:
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Run ko
        run: |
          set -e
          REGISTRY=ghcr.io \
          REGISTRY_USERNAME=${{ github.actor }} \
          REGISTRY_PASSWORD=${{ secrets.GITHUB_TOKEN }} \
          make ko-publish
